@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.brutal {
  @apply border-solid border-2 border-b-4 border-r-4 border-black;
}

.brutal:hover {
  @apply border-2 border-solid border-b-4 border-r-4 border-black;
}

.brutal:active {
  @apply border-2 border-solid border-b-2 border-r-2 border-black;
}

input.brutal:focus {
  @apply border-2 border-solid border-b-2 border-r-2 border-black;
}



.card {
  position: absolute;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.2s;
}

.card span {
  position: absolute;
  left: 5px;
  top: 5px;
} 

.card {
  --r: 1;
  --x: 1;
  --y: 1;
}

.card:hover {
  --x: 1;
  --y: -30;
}


